@model IEnumerable<Post>



<div class="main-img">
    <span class="title">Welcome</span>

</div>
<div class="container">

    @foreach (var post in Model)
    {

    <div class="record">
        <div class="row  h-100">
            <div class="col h-100">
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </div>
            <div class="col  h-100 ">
                @if (!String.IsNullOrEmpty(post.Image) && post.Image != "Error")
                {
                    var imagePath = $"/Image/{post.Image}";
                    <img class="img-fluid mh-100" src="@imagePath" />

                }
            </div>
        </div>
    </div>

    }

</div>


